$white: #fff;
$black: #000;

$danger-color: rgb(202, 36, 36);
$information-color: #ffd230;

$background-primary: rgba(255, 255, 255, 1);
$background-secondary: #80CED7;
$background-tertiary: #6db3bb;

$text-color-primary: rgba($black, 0.8);
$text-color-secondary: rgba($black, 0.55);
$text-color-disabled: rgba($black, 0.25);


$shadow-elevated: 0 8px 16px 0 rgba(0, 0, 0, 0.1);